* {
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.pokemonCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
  margin-top: 20px;
}

button {
  background-color: #126399;
  color: white;
  box-shadow: 9px 7px 15px -2px #777777;
  border: none;
  width: 100px;
  height: 40px;
  margin: 40px;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #1e9aec;
  transform: translateY(5px);
  box-shadow: none;
}
